<div class="parent">
			<section class="content">
				<div class="comment">
					<p>by gamer</p>
					<p class="blue">good game</p>
					<p>Good game!</p>
					<div class="stars star1"></div>
				</div>
				<div class="comment">
					<p>by gamer</p>
					<p class="blue">good game</p>
					<p>Good game!</p>
					<div class="stars star2"></div>
				</div>
				<div class="comment">
					<p>by gamer</p>
					<p class="blue">good game</p>
					<p>Good game!</p>
					<div class="stars star3"></div>
				</div>
				<div class="comment">
					<p>by gamer</p>
					<p class="blue">good game</p>
					<p>Good game!</p>
					<div class="stars star4"></div>
				</div>
				<div class="comment">
					<p>by gamer</p>
					<p class="blue">good game</p>
					<p>Good game!</p>
					<div class="stars star5"></div>
				</div>
				<div class="comment">
					<p>by gamer</p>
					<p class="blue">good game</p>
					<p>Good game!</p>
					<div class="stars star1"></div>
				</div>
				<div class="comment">
					<p>by gamer</p>
					<p class="blue">good game</p>
					<p>Good game!</p>
					<div class="stars star2"></div>
				</div>
				<div class="comment">
					<p>by gamer</p>
					<p class="blue">good game</p>
					<p>Good game!</p>
					<div class="stars star3"></div>
				</div>
				<div class="comment">
					<p>by gamer</p>
					<p class="blue">good game</p>
					<p>Good game!</p>
					<div class="stars star4"></div>
				</div>
				<div class="comment">
					<p>by gamer</p>
					<p class="blue">good game</p>
					<p>Good game!</p>
					<div class="stars star5"></div>
				</div>
				
			</section>
			
		</div>