<div class="parent">
	<section class="content">
		<div class="comment">
			<p>by Bor'ka</p>
			<p>Vot eto prekol</p>
			<p>Kuplu stopudovchenko!</p>
		</div>
		<div class="comment">
			<p>by Bor'ka</p>
			<p>Vot eto prekol</p>
			<p>Kuplu stopudovchenko!</p>
		</div>
		<div class="comment">
			<p>by Bor'ka</p>
			<p>Vot eto prekol</p>
			<p>Kuplu stopudovchenko!</p>
		</div>
		<div class="comment">
			<p>by Bor'ka</p>
			<p>Vot eto prekol</p>
			<p>Kuplu stopudovchenko!</p>
		</div>
		<div class="comment">
			<p>by Bor'ka</p>
			<p>Vot eto prekol</p>
			<p>Kuplu stopudovchenko!</p>
		</div>
		<div class="comment">
			<p>by Bor'ka</p>
			<p>Vot eto prekol</p>
			<p>Kuplu stopudovchenko!</p>
		</div>
		<div class="comment">
			<p>by Bor'ka</p>
			<p>Vot eto prekol</p>
			<p>Kuplu stopudovchenko!</p>
		</div>
		<div class="comment">
			<p>by Bor'ka</p>
			<p>Vot eto prekol</p>
			<p>Kuplu stopudovchenko!</p>
		</div>
		<div class="comment">
			<p>by Bor'ka</p>
			<p>Vot eto prekol</p>
			<p>Kuplu stopudovchenko!</p>
		</div>
		<div class="comment">
			<p>by Bor'ka</p>
			<p>Vot eto prekol</p>
			<p>Kuplu stopudovchenko!</p>
		</div>
					
	</section>
</div>